<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="BD" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=db_academia;Uid=root;Pwd=rafael123;" />
	</connectionStrings>
	
	<appSettings>
		<add key="IdiomaRegiao" value="en-US"/>
	</appSettings>
</configuration>